[Desktop Entry]
Name=CertUploader
Exec=/usr/bin/certuploader
Type=Application
Comment=Upload certificates into LDAP directory / global address list (GAL)
Comment[de_DE]=Zertifikate in das LDAP-Verzeichnis bzw. globale Adressbuch (GAL) hochladen
Icon=application-pgp-signature
Categories=Application;Office
Terminal=false
